{% extends "base.html" %}
{% block head_title %}All Products{% endblock %}

{% block content %}
<section class="clearfix">

    <h2 class="section-headline">Cart</h2>
    <p class="section-description">
        Please check your products before checkout.
    </p>

    <div class="cart">
        <ul>
            {% for product in cart.items.all %}
            <li class="item">
                <div class="cart-product-img">
                    <img src="{{ product.image.url }}" alt="" />
                </div>
                <div>
                    <h3>{{ product.title | capfirst }}</h3>
                </div>
                <div>
                    <p>${{ product.price | floatformat:2 }}</p>
                </div>
                <div>
                    <a href="{% url 'remove_from_cart' product_id=product.id %}" class="remove">x</a>
                </div>
            </li>
            {% empty %}
            <li>
                <p>No products yet.</p>
            </li>
            {% endfor %}

            {% if cart.items.all.count > 0 %}
            <li class="item" id="cart-summary">
                <div>
                    <p></p>
                </div>
                <div>
                    <h3>Total</h3>
                </div>
                <div>
                    <p>${{ cart.total_price }}</p>
                </div>
                <div>
                    <a href="{% url 'order' %}" class="checkout">Checkout</a>
                    <a href="{% url 'clear_cart' %}" class="clear">Clear Cart</a>
                </div>
            </li>
            {% endif%}
        </ul>
    </div>
</section>
{% endblock %}